<a href="https://colab.research.google.com/github/adisaura/MATERI-SI-ORBIT/blob/main/Data_Structure_If_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Selasa, 21 Sept 2021

# **LIST**

---

In [2]:
drink_list = ['milk', 'coffee', "teh", "stmj"]
#tgl = [25, 7, 17, 4]
print(type(drink_list), "\n")

print("Fungsi len\t ->", len(drink_list)) #len() method menghitung list
print("Fungsi sorted\t ->", sorted(drink_list)) #sorted() method mengurutkan list
print("Pilih index\t ->", drink_list[1]) #milih index

<class 'list'>

Fungsi len	 -> 4
Fungsi sorted	 -> ['coffee', 'milk', 'stmj', 'teh']
Pilih index	 -> coffee

# **TUPLE**

---

In [3]:
drink_list = ('milk', 'coffee', "teh", "stmj")
single_tuple = ('susu',) #tuple dengan satu value diakhiri dengan koma
list_minuman = 'milk', 'coffee', "teh", "stmj" #dapat tanpa tanda kurung

print(type(drink_list), "\n")

print(drink_list)
#drink_list[0] = "Test"
print(drink_list)

<class 'tuple'>

('milk', 'coffee', 'teh', 'stmj')
('milk', 'coffee', 'teh', 'stmj')

# **DICTIONARY**

---

In [4]:
student = {
    'name': 'Gadis Aura',
    'age': 20,
    'awesome': True,
    'language': ['English', 'Arabic', 'Indonesia'],
    'favorites': {
        'food': 'Sate',
        'sport': 'Archery'
    }
}
#print(sorted(student.items())) #-> fungsi mengurutkan key dict
print(type(student), "\n")

name = student.get('name')
print(name)

hobby = student.get('favorites')['sport']
print(hobby)

food = student.get('favorites')['food']
print(food)

address = student.get('address')
print(address)

#dengan menggunakan .get dan key tidak ditemukan akan mengembalikan "none"
#jika menggunakan fungsi di bawah maka akan error

#address = student['address'] 
#print(address)

<class 'dict'>

Gadis Aura
Archery
Sate
None

# **SET**

---

In [5]:
my_set = {1, 2, 3, 4}
my_set_2 = {3, 4, 5, 6}

print(type(my_set), ' - ', type(my_set_2), "\n")

print(my_set.union(my_set_2), '----------', my_set | my_set_2)
print(my_set.intersection(my_set_2), '----------', my_set & my_set_2)
print(my_set.difference(my_set_2), '----------', my_set - my_set_2)
print(my_set.symmetric_difference(my_set_2), '----------', my_set ^ my_set_2)
my_set.clear()
print(my_set)

<class 'set'>  -  <class 'set'>

{1, 2, 3, 4, 5, 6} ---------- {1, 2, 3, 4, 5, 6}
{3, 4} ---------- {3, 4}
{1, 2} ---------- {1, 2}
{1, 2, 5, 6} ---------- {1, 2, 5, 6}
set()

#### **Konversi Tuple ke Set**

In [6]:
print(type(single_tuple))
set_single_tuple = set(single_tuple)
print(type(set_single_tuple))

<class 'tuple'>
<class 'set'>

# **PENGONDISIAN**

---
Bentuk umum if, elif, dan else

```
if(Condition1):
      Indented statement block for Condition1
elif(Condition2):
       Indented statement block for Condition2
else:
       Alternate statement block if all condition check above fails
```

Algoritma tahun kabisat: 

1.   Jika angka tahun itu habis dibagi 400, maka tahun itu sudah pasti tahun kabisat.
2.   Jika angka tahun itu tidak habis dibagi 400 tetapi habis dibagi 100, maka tahun itu sudah pasti bukan merupakan tahun kabisat.
3.   Jika angka tahun itu tidak habis dibagi 400, tidak habis dibagi 100 akan tetapi habis dibagi 4, maka tahun itu merupakan tahun kabisat.
4.   Jika angka tahun tidak habis dibagi 400, tidak habis dibagi 100, dan tidak habis dibagi 4, maka tahun tersebut bukan merupakan tahun kabisat.

In [ ]:
tahun = int(input("Input tahun: "))

if (tahun % 4) == 0:
    if (tahun % 100) == 0:
        if (tahun % 400) == 0:
            print("Tahun Kabisat")
        else:
            print("Bukan Tahun Kabisat")
    else:
        print("Tahun Kabisat")
else:
    print("Bukan Tahun Kabisat")

#### **Mencari nilai pada List**

In [ ]:
drink_list = ['milk', 'coffee', "teh", "stmj"]
'coffee' in drink_list

#### **Penerapan Break, Continue, dan Pass**

In [ ]:
for i in range(1,11):
  if i == 3:
    break
    #continue
    #pass
  print(i,' x ',i ,' = ',i*i)

In [ ]:
for i in range(1,11):
  if i == 3:
    continue
  print(i,' x ',i ,' = ',i*i)

In [ ]:
for i in range(1,11):
  if i == 3:
    pass
  print(i,' x ',i ,' = ',i*i)

#### **Bonus, looping menggunakan if dan def**

In [ ]:
i = 0

def loop(cond):
  if(cond<=10):
    print(cond)
    cond += 1
    loop(cond)

loop(i)

In [ ]:
import pandas as pd
data = {'Country': ['Belgium', 'India', 'Brazil'], 'Capital': ['Brussels', 'New Delhi', 'BrasÃ­lia'], 'Population': [11190846, 1303171035, 207847528]}
df = pd.DataFrame(data, columns=['Country', 'Capital', 'Population'])
df

In [ ]:
df.iloc[:2,:3]

In [ ]:
# Function to convert number into string
# Switcher is dictionary data type here
def numbers_to_strings(argument):
    switcher = {
        0: "zero",
        1: "one",
        2: "two",
    }
 
    # get() method of dictionary data type returns
    # value of passed argument if it is present
    # in dictionary otherwise second argument will
    # be assigned as default value of passed argument
    return switcher.get(argument, "nothing")
 
# Driver program
if __name__ == "__main__":
    argument=2
    print (numbers_to_strings(argument))